*{
  box-sizing: border-box;
}


.contenedor-padrote {
  padding: 0;
  width: 100%;
  margin: auto;
  background: #DDD9D9;
  position: fixed;
  padding-left: 1em;
  padding-right: 1em;
  height: 100%;
}

header h1 {
  font-family: serif;
  font-size: 2em;
  color: steelblue;
}

.menu ul{
  padding: 0;
  text-align: center;
}

.menu li {
  font-size: 1.2em;
  display: inline;
  margin-right: 1em;
}

.menu li a{
  text-decoration: none;
  color: black;
}

.menu li a:hover{
  color: white;
}

.menu {
  border: 2px solid black;
  width: 400px;
  background: #DDD9FF;
  position: absolute;
  right: 0px;
  top: 0px;
  margin-top: 1em;
}

.aside {
  background: #DDAAFF;
  float: right;
  margin-bottom: 4em;
}

.footer {
  background: #AAFFFF;
  width: 100%;
  position: absolute;
  bottom: 0px;
  text-align: center;
}

.header {
  background: #00FFAA;
}

.main {
  position: fixed;
  background: #11AAFF;
  float: left;
  border-radius: 2px;
  border: 2px solid black;
  width: 70%;
}

.main img {
  float: left;
  margin-right: 1em;
  border: 4px solid white;
  border-radius: 3px;
}


.main article {
  background: #FF23A1;
  display: table;
  padding-bottom: 1em;
  padding-top: 1em;
  padding-left: 0.5em;
  border-bottom: 2px solid white;
}

.main article p {
  
}

.main article h2{
  font-size: 2em;
  margin-top: 0;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}